:root{
    --green: #00C896;
    --white: #ffffff;
    --black: #000000;
    --light-white: #D3D9D9;
    --btn-hover: #067559;
    --dark-black: #1E1E1E;
    --dark-hover: #333333;
    font-family: 'Inter', sans-serif;

}
/* .body-background{
    background-color: #222222;
} */
.contact-btn{
    width: 150px;
    color: var(--black);
    font-weight: 500;
    background-color: var(--green);
    border-color: var(--green);
}
.contact-btn:hover{
    background-color: var(--btn-hover);
    color: var(--black);
    border-color: var(--btn-hover);
}
p{
    font-size: 18px;
    color: var(--light-white);
}
h1{
    font-size: 102px;
    line-height: 110px;
    text-transform: uppercase;  
    font-weight: 700;  
    color: var(--white);
}
h1 .spn-dot{
    color: var(--green) !important;
}
h2{
    font-size: 32px;
    line-height: 40px;
    color: var(--green);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
}
.about-container{
    background-color: var(--dark-black);
}
.card-body{
    background-color: var(--dark-black);
    border-radius: 10px;
    height: 230px;
}
.card-body:hover{
    background-color: var(--dark-hover);
}
.card-title{
    color: var(--white);
    font-size: 24px;
}
.progress-bar{
    margin-left: -12px;;
}